<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Рефлексивная мишень</title>
    <link rel="stylesheet" href="static/main.css">
</head>

<body>

    {{ partial "components/navigation.tmpl" }}

    <main>
        {{ render }}
    </main>

    <script src="static/main.js"></script>

</body>
</html>
