{{- $new := eq .TargetData.ID 0 }}
{{- if $new }}
    <h2>New target</h2>
{{- else }}
    <h2>{{ .TargetData.Name }}</h2>
{{- end }}


{{ $url := $new | ternary "new" .TargetData.ID }}
{{ $method := $new | ternary "post" "put" }}
<form
    hx-{{ $method }}="/target/{{ $url }}"
    hx-trigger="submit"
    hx-target="main">

    <button hx-on:click="addQuestion()">Add question</button>

    <canvas></canvas>

    {{- $text := $new | ternary "Create" "Update" }}
    <button type="submit" disabled>{{ $text }}</button>
</form>
