{{- if .TargetData.Name }}
    <h2>{{ .TargetData.Name }}</h2>
{{- else }}
    <h2>New target</h2>
{{- end }}


{{ $url := (eq .TargetData.ID 0) | ternary "new" .TargetData.ID }}
{{ $method := (eq .TargetData.ID 0) | ternary "post" "put" }}
<form hx-{{ $method }}="/target/{{ $url }}"
    hx-trigger="submit"
    hx-target="main">

</form>
