{{- $new := eq .TargetData.ID 0 }}

{{- if $new }}
<h2>New target</h2>
{{- else }}
<h2>{{ .TargetData.Name.Value }}</h2>
{{- end }}


{{ $url := $new | ternary "new" .TargetData.ID }}
{{ $method := $new | ternary "post" "put" }}
<form
    hx-{{ $method }}="/target/{{ $url }}"
    hx-trigger="submit"
    hx-target="main">

    <section id="username">
        <label for="name">Target name</label>
        {{- $value := $new | ternary "" .TargetData.Name.Value }}
        <input name="name" placeholder="Target name" value="{{ $value }}">

        {{ partial "components/errors.tmpl" .TargetData.Name.Errors }}
    </section>

{{- if $new }}

    <section id="question_0">
        <input name="question_0" placeholder="Question 1">
    </section>

{{- else }}

    {{- range $i, $q := .TargetData.Questions }}
    {{- $name := printf "question_%d" $i }}
    <section id="{{ $name }}">
        {{- $ph := printf "Question %d" (add $i 1) }}
        {{- $val := $q.Value }}
        <input name="{{ $name }}" placeholder="{{ $ph }}" value="{{ $val }}">

        {{- /* Debug: print type and value */ -}}
        {{- printf "Type: %T, Value: %v" $q.Errors $q.Errors }}

        {{ partial "components/errors.tmpl" $q.Errors }}
    </section>
    {{- end }}

{{- end }}

    <canvas></canvas>

    {{- $text := $new | ternary "Create" "Update" }}
    <button type="submit">{{ $text }}</button>
</form>

{{- if $new }}
<button hx-on:click="addQuestion()">Add question</button>
{{- end }}
