root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
max_line_length = 80
indent_style = space
indent_size = 4

[*.go]
indent_style = tab
indent_size = 8

[go.{sum,mod}]
indent_style = tab
max_line_length = 140

[{Makefile,*.Makefile}]
indent_style = tab

[*.{yml,yaml}]
indent_size = 2

[*.json]
max_line_length = 240

# 3rd party
[Makefile.venv]
max_line_length = unset
indent_size = unset
