main {
    margin: 15px;
}

#target-wrapper {
    width: 530px;
    height: 800px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
    float: right;
    text-align: right;
}

.shot {
    background: red;
    position: fixed;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 3px solid black;
    z-index: 666;
}

.hidden {
    display: none !important;
}
