body {
    margin: 15px;
}
img {
    border: 1px black solid;
}

h4 {
    position: fixed;
}

h1 {
    padding-bottom: 20px;
    text-align: center;
}

#target-wrapper {
    width: 600px;
    height: 600px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top {
    top: -3%;
}

.bottom {
    bottom: -3%;
}

.left {
    left: 5%;
}

.right {
    right: 5%;
    text-align: right;
}
