body {
    margin: 15px;
}

img {
    border: 1px black solid;
}

hr {
    width: 530px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    position: static;
    display: inline-block;
}

h1 {
    padding-bottom: 20px;
    text-align: center;
}

#target-wrapper {
    width: 530px;
    height: 530px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
    float: right;
    text-align: right;
}
