<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reflective target</title>
    <link rel="stylesheet" href="static/main.css">
</head>

<body>

    {{ partial "components/navigation.tmpl" . }}

    <main>
        {{ render }}
    </main>

    <script src="static/main.js"></script>

</body>
</html>
