Login

<form action="/login" method="post">

    <section id="username">
        <label for="username">Username</label>
        <input
            name="username"
            type="text"
            autocomplete="username"
            required>

    {{ partial "components/errors.tmpl" .Username.Errors }}
    </section>

    <section id="password">
        <label for="password">Password</label>
        <input
            name="password"
            type="password"
            autocomplete="password"
            required>

    {{ partial "components/errors.tmpl" .Password.Errors }}
    </section>

    <button type="submit">Login</button>

</form>
