Login

<form hx-post="/login" hx-trigger="submit" hx-target="main">

    <section id="username">
        <label for="username">Username</label>
        <input
            name="username"
            type="text"
            autocomplete="username"
            required>

    {{ partial "components/errors.tmpl" .LoginData.Username.Errors }}
    </section>

    <section id="password">
        <label for="password">Password</label>
        <input
            name="password"
            type="password"
            autocomplete="password"
            required>

    {{ partial "components/errors.tmpl" .LoginData.Password.Errors }}
    </section>

    <button type="submit">Login</button>

</form>
