Signup

<form hx-post="/signup" hx-trigger="submit" hx-target="main">

    <section id="username">
        <label for="username">Username</label>
        <input
            value="{{ .SignupData.Username.Value }}"
            name="username"
            type="text"
            required>

    {{ partial "components/errors.tmpl" .SignupData.Username.Errors }}
    </section>

    <section id="password">
        <label for="password">Password</label>
        <input
            value="{{ .SignupData.Password.Value }}"
            name="password"
            type="password"
            required>

    {{ partial "components/errors.tmpl" .SignupData.Password.Errors }}
    </section>

    <section id="confirmation">
        <label for="confirmation">Password confirmation</label>
        <input
            value="{{ .SignupData.Confirmation.Value }}"
            name="confirmation"
            type="password"
            required>

    {{ partial "components/errors.tmpl" .SignupData.Confirmation.Errors }}
    </section>

    <button type="submit">Sign up</button>

</form>

<hr>

<p>Already have an account? <a href="/login">Sign in</a></p>
