package render

import "fmt"

templ targetForm(data TargetFormData) {
	{{ new := data.ID == 0 }}
	if new {
		<h2>New target</h2>
	} else {
		<h2>{ data.Name.Value }</h2>
	}
	{{ var url, method string }}
	if new {
		{{ url, method = "/target/new", "post" }}
	} else {
		{{ url, method = fmt.Sprintf("/target/%d", data.ID), "put" }}
	}
	<form
		{ "hx-" + method }={ templ.URL(url) }
		hx-trigger="submit"
		hx-target={ hxTarget }
	>
		<section id="name">
			<label for="name">Target name</label>
			<input name="name" placeholder="Target name" value={ data.Name.Value }/>
			@errors(data.Name.Errors)
		</section>
		if new {
			<section id="question_0">
				<input name="question_0" placeholder="Question 1"/>
			</section>
		} else {
			for i, q := range data.Questions {
				{{ name := fmt.Sprintf("question_%d", i) }}
				<section id={ name }>
					{{ ph := fmt.Sprintf("Question %d", i+1) }}
					<input name={ name } placeholder={ ph } value={ q.Value }/>
					@errors(q.Errors)
				</section>
			}
		}
		<canvas></canvas>
		if new {
			<button type="submit">Create</button>
			<button hx-on:click="addQuestion()">Add question</button>
		} else {
			<button type="submit">Update</button>
		}
	</form>
}
