<button
    id="sidebar-toggler"
    hx-on:click="toggleNavigation()">
    kek
</button>

<nav>
{{ if .IsAuthenticated }}
    <a href="/targets">Targets</a>
    <a href="/logout">Logout</a>
{{ else }}
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
{{ end }}
</nav>
